@use '../../abstracts' as *;

.Navbar{
  grid-area: nav;
  width: 100vw;
  height: 56px;
  padding: 0 1.5rem;
  background-color: $bg-nav-color;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(90, 90, 90, .55);
  position: fixed;
  z-index: 10;
  
  .icon-container{
    padding: .5rem;
    color: $text-color;
    background-color: $bg-nav-color;
    border: none;
    outline: none;
    cursor: pointer;
    @include center;
  }


  .special_searchbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

   button{
    padding: .54rem;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    @include center;
    }

    form{
      width: 100%;
      height: 100%;
      padding: 0  0.5rem;
      @include center;
  
  
      input{
        width: 100%;
        padding:.6rem 1.5rem;
        background-color: $bg-color;
        color: $text-color;
        font-size: 16px;
        border: 1px solid #323232;
        border-top-left-radius: .25rem;
        border-bottom-left-radius: .25rem;
        outline: none;
  
        &:focus{
          border-color: rgb(0,140,255);
        }
      }
  
      button{
        background-color: #323232;
        border: 1px solid #323232;
        border-top-right-radius: .25rem;
        border-bottom-right-radius: .25rem;
        &:hover{
          color: gray;
        }
      }
    }
  }

}